<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE log4j:configuration SYSTEM "log4j.dtd" >
<log4j:configuration>

    <appender name="debug-log"
        class="org.apache.log4j.RollingFileAppender">
        <param name="maxFileSize" value="100MB" />
        <param name="maxBackupIndex" value="1" />
        <param name="File" value="${catalina.base}/logs/@WEBAPP@/wdk.log4j" />
        <layout class="org.apache.log4j.PatternLayout">
            <!-- ipAddress provided by org.apidb.apicommon.controller.log4j.MDCServletFilter -->
        <param name="ConversionPattern"
               value="[%d{dd/MMM/yyyy|HH:mm:ss}] sid:%-5X{shortSessionId} rid: %4X{requestId} %9X{requestTimer} %15X{ipAddress} - %-5p - %C:%L - %m%n" />
        </layout>
        <filter class="org.apache.log4j.varia.LevelRangeFilter">
            <param name="LevelMin" value="trace" />
            <param name="LevelMax" value="fatal" />
        </filter>
    </appender>

    <appender name="service-access-log"
        class="org.apache.log4j.RollingFileAppender">
        <param name="maxFileSize" value="100MB" />
        <param name="maxBackupIndex" value="1" />
        <param name="File" value="${catalina.base}/logs/@WEBAPP@/wdk-service-access.log" />
        <layout class="org.apache.log4j.PatternLayout">
            <!-- ipAddress provided by org.apidb.apicommon.controller.log4j.MDCServletFilter -->
        <param name="ConversionPattern"
               value="[%d{dd/MMM/yyyy|HH:mm:ss}] sid:%5X{shortSessionId} rid: %4X{requestId} %9X{requestTimer} %15X{ipAddress} - %m%n" />
        </layout>
        <filter class="org.apache.log4j.varia.LevelRangeFilter">
            <param name="LevelMin" value="trace" />
            <param name="LevelMax" value="fatal" />
        </filter>
    </appender>

    <appender name="example-sql-log"
        class="org.apache.log4j.RollingFileAppender">
        <param name="maxFileSize" value="5MB" />
        <param name="maxBackupIndex" value="3" />
        <param name="File" value="${catalina.base}/logs/@WEBAPP@/exampleQueries.log4j" />
        <layout class="org.apache.log4j.PatternLayout">
            <!-- ipAddress provided by org.apidb.apicommon.controller.log4j.MDCServletFilter -->
            <param name="ConversionPattern"
               value="[%d{dd/MMM/yyyy|HH:mm:ss}] sid:%5X{shortSessionId} rid:%-9X{requestId} %10X{requestTimer} %15X{ipAddress} - %m%n" />
        </layout>
        <filter class="org.apache.log4j.varia.LevelRangeFilter">
            <param name="LevelMin" value="info" />
            <param name="LevelMax" value="info" />
            <param name="AcceptOnMatch" value="true"/>
        </filter>

    </appender>

    <!-- the pattern here should agree with that in WDK/Model/config/log4j.properties, and also the slow query reporter -->
    <appender name="slow-sql-log"
        class="org.apache.log4j.RollingFileAppender">
        <param name="maxFileSize" value="10MB" />
        <param name="maxBackupIndex" value="3" />
        <param name="File" value="${catalina.base}/logs/@WEBAPP@/slowQueries.log4j" />
        <layout class="org.apache.log4j.PatternLayout">
           <!-- ipAddress provided by org.apidb.apicommon.controller.log4j.MDCServletFilter -->
           <param name="ConversionPattern"
               value="[%d{dd/MMM/yyyy:HH:mm:ss}] sid:%5X{shortSessionId} rid:%-9X{requestId} %10X{requestTimer} %15X{ipAddress} - %m%n" />
        </layout>
        <filter class="org.apache.log4j.varia.LevelRangeFilter">
            <param name="LevelMin" value="warn" />
            <param name="LevelMax" value="warn" />
                        <param name="AcceptOnMatch" value="true"/>
        </filter>
    </appender>

    <!-- NOTE: The following four appenders are for log4jdbc functionality; -->
    <!--       they are turned off by default but can be enabled below.     -->

    <appender name="sql-appender" class="org.apache.log4j.RollingFileAppender">
        <param name="File" value="${catalina.base}/logs/@WEBAPP@/log4jdbc-sql.log"/>
        <param name="maxFileSize" value="10MB" />
        <param name="maxBackupIndex" value="3" />
        <layout class="org.apache.log4j.PatternLayout">
            <param name="ConversionPattern" value="-----&gt; %d{yyyy-MM-dd HH:mm:ss.SSS} &lt;%t&gt; %m%n%n"/>
        </layout>
     </appender>

    <appender name="sql-timing-appender" class="org.apache.log4j.RollingFileAppender">
        <param name="File" value="${catalina.base}/logs/@WEBAPP@/log4jdbc-sqltiming.log"/>
        <param name="maxFileSize" value="10MB" />
        <param name="maxBackupIndex" value="3" />
        <layout class="org.apache.log4j.PatternLayout">
            <param name="ConversionPattern" value="-----&gt; %d{yyyy-MM-dd HH:mm:ss.SSS} %m%n%n"/>
        </layout>
    </appender>

    <appender name="jdbc-appender" class="org.apache.log4j.RollingFileAppender">
        <param name="File" value="${catalina.base}/logs/@WEBAPP@/log4jdbc-jdbc.log"/>
        <param name="maxFileSize" value="10MB" />
        <param name="maxBackupIndex" value="3" />
        <layout class="org.apache.log4j.PatternLayout">
            <param name="ConversionPattern" value="%d{yyyy-MM-dd HH:mm:ss.SSS} %m%n"/>
        </layout>
    </appender>

    <appender name="connection-appender" class="org.apache.log4j.RollingFileAppender">
        <param name="File" value="${catalina.base}/logs/@WEBAPP@/log4jdbc-connection.log"/>
        <param name="maxFileSize" value="10MB" />
        <param name="maxBackupIndex" value="3" />
        <layout class="org.apache.log4j.PatternLayout">
            <param name="ConversionPattern" value="%d{yyyy-MM-dd HH:mm:ss.SSS} %m%n"/>
        </layout>
    </appender>

    <!-- END log4jdbc appenders -->

    <logger name="org.gusdb"><level value="info"/></logger>
    <logger name="org.gusdb.fgputil.db.QueryLogger.ExampleQueryLog" additivity="false"><level value="info"/><appender-ref ref="example-sql-log" /></logger>
    <logger name="org.gusdb.fgputil.db.QueryLogger.SlowQueryLog" additivity="false"><level value="warn"/><appender-ref ref="slow-sql-log" /></logger>
    <logger name="org.gusdb.wdk.service.filter.RequestLoggingFilter" additivity="false"><level value="info"/><appender-ref ref="service-access-log" /></logger>
    <logger name="org.gusdb.wdk.service.provider.LoggingWriterInterceptor" additivity="false"><level value="info"/><appender-ref ref="service-access-log" /></logger>
    <logger name="org.orthomcl"><level value="info"/></logger>
    <logger name="org.eupathdb"><level value="info"/></logger>
    <logger name="org.apidb"><level value="info"/></logger>
    <logger name="org.apache"><level value="warn"/></logger>
    <logger name="org.apache.catalina.core">
        <level value="info"/><!-- info level required to log stdout/stderr -->
    </logger>

	<!--
	The Following 5 logs can be turned on and off while the server is running
	LIVE in order to trace the SQL and/or all JDBC coming out of the application.
	
	To turn a log on, set the level value to INFO or DEBUG (to see class name and
	line number information in the log) The DEBUG setting is much more inefficient
	but the output is much more useful.
	
	To turn off JDBC logging completely, you must set all 5 logs to a level higher
	than ERROR (FATAL is suggested.)
	-->
	
	<!-- log SQL (pre-execution) plus exceptions caused by SQL -->
	<logger name="jdbc.sqlonly" additivity="false"><level value="fatal"/><appender-ref ref="sql-appender"/></logger>
	
	<!-- log SQL with timing information, post execution -->
	<logger name="jdbc.sqltiming" additivity="false"><level value="fatal"/><appender-ref ref="sql-timing-appender"/></logger>
	
	<!-- only use the two logs below to trace ALL JDBC information, NOTE: This can be very voluminous! -->
	
	<!-- log all jdbc calls except ResultSet calls -->
	<logger name="jdbc.audit" additivity="false"><level value="fatal"/><appender-ref ref="jdbc-appender"/></logger>
	
	<!-- log the jdbc ResultSet calls -->
	<logger name="jdbc.resultset" additivity="false"><level value="fatal"/><appender-ref ref="jdbc-appender"/></logger>
	  
	<!-- log connection open/close events and dump of all open connection numbers -->
	<logger name="jdbc.connection" additivity="false"><level value="fatal"/><appender-ref ref="connection-appender"/></logger>
	
	<!-- this log is for internal debugging of log4jdbc, itself -->
	<!-- debug logging for log4jdbc itself -->
	<logger name="log4jdbc.debug" additivity="false"><level value="warn"/><appender-ref ref="debug-log"/></logger>

    <root>
        <priority value="warn"></priority>
        <appender-ref ref="debug-log" />
    </root>

</log4j:configuration>
