{% extends "appBase.html.j2" %}
{% block title %} {{ super() }} - Page Not Found {% endblock %}
{% block siteConfig %}
  {{ super () }}
  retainContainerContent: true
{% endblock %}
{% block content %}
  {% set supportEmail = modelconfig_supportEmail if (project != 'EuPathDB') else 'help@veupathdb.org' %}

  <h1>Page Not Found</h1>
  <p>The requested page could not be found.</p>
  <p>
     If you believe the page you requested should exist, please 
     contact <a href="mailto:{{ supportEmail }}" target="_blank">{{ supportEmail }}</a> 
     and please provide the URL you tried to access or a description of what you are 
     looking for.
   </p>
{% endblock %}
