{% extends "appBase.html.j2" %}
{% block title %} {{ super() }} - Server Error {% endblock %}
{% block siteConfig %}
  {{ super () }}
  retainContainerContent: true
{% endblock %}
{% block content %}
  {% set supportEmail = modelconfig_supportEmail if (project != 'EuPathDB') else 'help@veupathdb.org' %}

  <h1>Server Error</h1>
  <p>
    We apologize for the inconvenience and are working to resume service as soon as possible.
    If you have any questions please contact <a href="mailto:{{ supportEmail }}" target="_blank">{{ supportEmail }}</a>.
   </p>
{% endblock %}
