<!doctype html>
<html lang="en">
  <head>
    {% set displayName = project if project != 'EuPathDB' else 'VEuPathDB' %}
    <title>{% block title %}{{ displayName }}{% endblock %}</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <link href="/{{ webapp_ctx }}/images/{{ displayName }}/favicon.ico" type="image/x-icon" rel="shortcut icon"/>
    <script>
      {# used for webpack. remove this when this can be set at build time. #}
      window.__asset_path_remove_me_please__ = "/{{ webapp_ctx }}/bundles/";

      {# used by EbrcWebsiteCommon to initialize wdk #}
      window.__SITE_CONFIG__ = {
        {% block siteConfig %}
        rootElement: "#wdk-container",
        rootUrl: "{{ modelprop.WEBAPP_BASE_URL|default('') }}",
        endpoint: "{{ modelprop.REST_SERVICE_BASE_URL|default('') }}",
        projectId: "{{ modelprop.PROJECT_ID|default('') }}",
        webAppUrl: "{{ modelprop.LEGACY_WEBAPP_BASE_URL|default('') }}",
        facebookUrl: "{{ modelprop.FACEBOOK_URL|default('') }}",
        twitterUrl: "{{ modelprop.TWITTER_URL|default('') }}",
        twitterUrl2: "{{ modelprop.TWITTER_URL_2|default('') }}",
        youtubeUrl: "{{ modelprop.YOUTUBE_URL|default('') }}",
        redditUrl: "{{ modelprop.REDDIT_URL|default('') }}",
        vimeoUrl: "{{ modelprop.VIMEO_URL|default('') }}",
        communitySite: "{{ modelprop.COMMUNITY_SITE|default('') }}",
        siteSearchServiceUrl: "{{ modelprop.SITE_SEARCH_SERVICE_URL|default('') }}",
        useEda: "true" === "{{ modelprop.USE_EDA|default('false')}}",
        {% endblock %}
      };

      {# Initialize google analytics. A pageview event will be sent in the JavaScript code. #}
      {%- if modelprop.GOOGLE_ANALYTICS_ID is defined %}
        (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
        (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
        m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
        })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');
        ga('create', '{{ modelprop.GOOGLE_ANALYTICS_ID }}', 'auto');
      {%- endif %}
    </script>
    <link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css"/>
    <link rel="stylesheet" type="text/css" href="/{{ webapp_ctx }}/bundles/site-client.bundle.css"/>
    <script charset="utf8" src="/{{ webapp_ctx }}/bundles/site-client.bundle.js" ></script>
  </head>
  {% set bodyClassName = 'vpdb-Body' if project != 'ClinEpiDB' and project != 'AllClinEpiDB' and project != 'MicrobiomeDB' else 'wdk-Body' %}
  <body class="{{ bodyClassName }}">
    <div class="main-stack">
      <div id="wdk-container">
        {% block content %}
          Loading...
        {% endblock %}
      </div>
    </div>
  </body>
  {%- if project != 'ClinEpiDB' and project != 'AllClinEpiDB' and project != 'MicrobiomeDB'  %}
    {% set room = 'VEuPathDB-genomic' %}
    <script>
      ((window.gitter = {}).chat = {}).options = {
        room: '{{ room }}/community'
      };
    </script>
    <script src="https://sidecar.gitter.im/dist/sidecar.v1.js" async defer></script>
  {%- endif %}
</html>
