
APPDB_LDAP_SERVER={{ modelconfig_appDb_ldapServer }}
APPDB_LDAP_BASE_DN={{ modelconfig_appDb_ldapBaseDn }}
APPDB_LDAP_CN={{ modelconfig_appDb_ldapCommonName }}
APPDB_LOGIN={{ modelconfig_appDb_login }}
APPDB_PASSWORD={{ modelconfig_appDb_password }}
APPDB_REMOTE_USER_SCHEMA={{ modelconfig_appDb_remoteUserDataSchema }}

USERDB_LDAP_SERVER={{ modelconfig_userDb_ldapServer }}
USERDB_LDAP_BASE_DN={{ modelconfig_userDb_ldapBaseDn }}
USERDB_LDAP_CN={{ modelconfig_userDb_ldapCommonName }}
USERDB_LOGIN={{ modelconfig_userDb_login }}
USERDB_PASSWORD={{ modelconfig_userDb_password }}
USERDB_USER_SCHEMA={{ modelconfig_userDb_userSchema }}

OAUTH_URL={{ modelconfig_oauthUrl }}
OAUTH_CLIENT_ID={{ modelconfig_oauthClientId }}
OAUTH_CLIENT_SECRET={{ modelconfig_oauthClientSecret }}

SITE_BASE_URL=https://{{ hostname }}/{{ webapp_ctx }}
PROJECT_ID={{ project }}

SOLR_URL={{ commentconfig_solrUrl | default('UNDEFINED') }}
USERDB_SCHEMA={{ commentconfig_userLoginSchema | default('UNDEFINED') }}

COHORT={{ cohort }}

VDI_CONTROL_SCHEMA={{ modelprop['VDI_CONTROL_SCHEMA'] }}
