#Templated by Conifer using
#{{ template_path }}
#with vars from
#Cohort: {{ cohort }}
#Project: {{ project }}
#Environment: {{ env|default() }}
#site_vars file: {{ site_vars }}

User-agent: *
Disallow: /
Allow: /$
Allow: /{{ webapp_ctx }}/$
Allow: /{{ webapp_ctx }}/home.jsp
Allow: /{{ webapp_ctx }}/app
Allow: /{{ webapp_ctx }}/app/search/organism/GenomeDataTypes/result*
Allow: /{{ webapp_ctx }}/app/record/organism/*
Allow: /{{ webapp_ctx }}/app/search/dataset/AllDatasets/result*
Allow: /{{ webapp_ctx }}/app/record/dataset/*
Allow: /{{ webapp_ctx }}/*.js
Allow: /{{ webapp_ctx }}/*.css
Allow: /{{ webapp_ctx }}/service/*
Allow: /{{ webapp_ctx }}/sitemap.xml
Allow: /{{ webapp_ctx }}/sitemap-*.xml

Sitemap: https://{{ live_hostname }}/{{ webapp_ctx }}/sitemap.xml
