/* let OrthoMCL.css decide the color
a { color: #330099; }
a:hover { color: #3333FF; }
a:visited { color: #330099; }
*/

#menu {clear:both; position:relative; z-index:11;}
#menu > ul.menu {float:none;}
#menu #favorite-menu {float:right;}
/*    #main-content, #footer { clear: both; background: url(../images/gradient.gif) repeat-x; }   */

#footer { padding: 5px; text-align: center; }
#footer #copyright { float: left; padding: 10px; }
#footer #contact { float: right; text-align: right; }

#query-description-section { font-size: 12pt; margin: 10px; }

/***** Styling for the Contact Us pop-up box *****/

.contact-us ul {
	list-style: disc outside none;
	margin: 1em 0em;
	padding-left: 1em;
}

.contact-us td {
	vertical-align: top;
}

/***** Styling for the 'About' page *****/

div#about {
	width: 100%;
  font-family: Arial, Helvetica, sans-serif;
  text-align: center;
}

div#about div {
  margin-left: auto;
  margin-right: auto;
}

div#about h1 { font-size: 28px; }
div#about h2 { font-size: 16px; }
div#about p { margin: 15px; }
div#about .question { font-weight:bold; }

/*
div#about .about-title {
	width: 70%;
	padding: 16px;
	margin-top: 10px;
	text-align: left;
}
*/

div#about .section-title {
	width: 70%;
	padding: 6px;
	-moz-border-radius: 20px;
  -webkit-border-radius: 20px;
  -khtml-border-radius: 20px;
  border-radius: 20px;
}

div#about .section-content {
  width: 65%;
	padding: 15px;
  font-size: 14px;
	text-align: left;
}

div#about ol {
	margin-left: 40px;
	list-style-position: outside;
  list-style-type: decimal;
}

div#about li {
	padding-top: 5px;
}

/***** Styling for the error page *****/

#error-main {
	width: 100%;
  text-align: center;
  margin: 30px 8px;
}

#error-main h1 {
  font-size: 32px;
}

#error-main p {
	margin: 15px auto 10px auto;
	font-size: 16px;
	text-align: center;
	width: 550px;
}

#error-main .error-image {
	width: 230px;
	margin: 15px;
  -moz-border-radius: 50px;
  -webkit-border-radius: 50px;	
  -khtml-border-radius: 50px;
  border-radius: 50px;
}

/*~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
      =FOOTER     from AllSites.css
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~*/

#footer{
   text-align: center;
   margin: 0 2.5%;
 /*  padding: 0px 0px 35px;     seems not to be needed 2011-12-06 */
   min-width: 950px;   /* 1100px; */
   font-size: 10px;
   width: 95%;  /* 75%  */
   background-color:#FFFFFF;
   background-repeat: repeat-x;
   color: #505050;
   line-height: 1.2em;
   clear: both;
}

/*~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
      =HEADER 
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~*/

#header2 {min-width:975px; clear:both;}

div#header2 .ui-widget-content {
	background:0;
  border:0;
}

#header-control {float:right; text-align: right; margin: 7px; }
#header2 #quick-search, #header2 #tool-sets { margin: 5px; }
#header2 #quick-search input.search-box { width: 100px; }
#header2 #site-logo a {font:bold 50pt Georgia,serif; color:#3333FF; text-decoration:none;}


table#quick-search a {
  font-size:120%;
}

/* from AllSites now included in includes.tag */
/*
#header2 {
	color: #666666;
	font-size: 10px; 
	min-width: 980px;
	height: 104px;
	background-repeat: no-repeat;
}
*/


