#search-bubbles { text-align: center; }
#search-bubbles > ul, #search-bubbles > ul > li { display: inline-table; }
#search-bubbles > ul > li { width: 200px; margin: 20px; padding: 2px;}
#search-bubbles > ul > li > a { font-size: 12pt; padding: 5px; } 
#search-bubbles > ul > li > ul { text-align: left; font-size: 10pt; padding: 3px; }
#search-bubbles > ul > li > ul ul { margin: 0px 0px 3px 20px;  }
#search-bubbles > ul > li > ul li { padding: 2px; }
#search-bubbles > ul > li > ul a { padding-left: 15px; }

#search-bubbles > ul > li > ul a.category { font-weight: bold; cursor: pointer; background:url(../images/square-plus.gif) 0px 2px no-repeat; }
#search-bubbles > ul > li > ul a.category.opened { background:url(../images/square-minus.gif) 0px 2px no-repeat; }



/*~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
      =SIDEBAR
   =from AllSites.css (menu_leftop), modified
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~*/
#sidebar { 
	float: left; 
	width: 230px; /* same width in <img> tag */
	margin: 5px 5px 5px 5px; 
	font-size:12px;	
}

/*~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    =SIDEBAR: section headers
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~*/
#sidebar a.heading:link, #sidebar a.heading:visited {
	color: #FFFFFF;
	display: block;
  padding:0 0 0 8px;
}
	
#sidebar a.heading:hover {
	color: #CCCCCC; 
	display: block;
}

#sidebar a.heading {
	height: 24px;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 17px;
	text-decoration: none;
/*	background-repeat: no-repeat;*/
	padding-right: 10px;
	padding-left:  7px;
	margin-bottom: 5px;
}

#sidebar img {
  display: block;
}	

/* cancelling jquery style */

div#sidebar h3.ui-state-active {
	background:0;
  border:0;
}
div#sidebar h3.ui-state-default {
	background:0;
  border:0;
}


/*~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
      =SIDEBAR: sections content
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~*/
#sidebar div {
   height: auto;
   font-family: Arial, Helvetica, sans-serif;
   font-size: 12px;
   font-weight: normal;
   padding: 6px;
   line-height: 15px;
 /*  border: 1px solid grey; */
   background-color: #FFFFFF;
   margin: -5px 0px 5px;
}

#sidebar div ul{  /* second-level lists */
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	font-weight: normal;
	padding: 6px 6px 6px 4px;
	line-height: 15px;
	list-style-position: outside;  /* so bullet lists wrap under text */
	list-style-type: square;
	margin-left:  1em;
	padding-left: 0;
}

#sidebar div ul.related-sites,
#sidebar div ul#news,
#sidebar div ul#communityEventList {
    border: 1px lightgrey solid;
    height: 120px;
    list-style-position: inside;
    margin-left: 0;
    overflow-y: auto;
}

#sidebar div ul.related-sites li,
#sidebar div ul#news li,
#sidebar div ul#communityEventList li {
    padding-left: 1.7em;
    text-indent: -1.5em;
}




