.param-item.inactive {
  opacity: 0.5;
  filter: alpha(opacity=50);
  cursor: pointer;
}
.param-item.inactive:hover {
  opacity: 0.8;
  filter: alpha(opacity=80);
}
.param-radio {
  float: left;
  padding-right: 4px;
  line-height: 2;
}
