/*~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
     Stylesheet for styles that are the same across all sites 
     Definitions here get overriden by entries in (project).css
     (after the order set up in header.tag)
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~*/



/*~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
	 =MAIN structure: contentwrapper css provided by wdk 
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~*/
#contentcolumn {
	min-width: 780px;
	margin: 0 5px 0 220px;
	background-color: #FFFFFF;
	background-repeat: repeat-x;
	text-align: left;
}

#contentcolumn2 {
	background-color: #FFFFFF;
	background-position: 0 -25px;
	background-repeat: repeat-x;
	margin: 0 5px 0 6px;
}

div.innertube #record-toolbox {
    float: right;
    border-style: double;
    border-width: 3px;
    margin: 3px;
    padding: 5px;
    text-align: center;
}

div.innertube #record-toolbox li {
    margin-top: 2px;
}

/*~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
	 =HOME Page:  BUBBLE Lists
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~*/

table.threecolumn {
	clear: both;
}

table.threecolumn td {
        vertical-align: top;
}

.threecolumndiv {
	width: 247px;
}

.threecolumndivimg {
	display: block;
}

#info {
   width: 209px;
   min-height: 240px;
   height:auto;
   background-image: url(../images/bubble_backgrnd.png);
   background-repeat: repeat-y;
   text-align: left;
   padding-top: 2px;
   padding-right: 19px;
   padding-bottom: 0px;
   padding-left: 19px;
}

#info li
{
	line-height: 1.5em;
/*	list-style-image: url(../images/cir_bullet.png);*/
	list-style-type: none;
	margin-left: 7px;
}

#info li ul li
{
/*	list-style-image: url(../images/cir_bullet2.png);*/
	border-bottom:1px solid lightgrey;
	list-style-type: none;
	margin-left: 16px;
	font-size: 11px;
	line-height: 1.1em;
}

#infobottom {
	width: 209px;
	min-height: 35px;    /* trying to keep buckest same size */
	background-image: url(../images/bubble_bottom.png);
	background-position: bottom;
	background-repeat: no-repeat;
	text-align: center;
	padding-top: 2px;
	padding-right: 19px;
	padding-bottom: 0px; 
	padding-left: 19px;
}



.detail_link {
/*	border: 2px solid #d8d8d8; */
	display: inline;
	left: -9999px;
	position: absolute;
}

.detail_link:link, .detail_link:visited{
	color: blue;    /* #808080; */
	text-decoration: underline;
}

a.heading:hover + a.detail_link, a.detail_link:hover {
	left: -2px;
	position: relative;
}


/* for Internet Explorer */
/*\*/
* html #info {
height: 240px;
}
/**/

/*~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
	 =SIDEBAR
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~*/


#menu_lefttop {
	width: 220px;
	margin-top: 8px;
	position: absolute;
	left: 6px;
	top: 129px;
        z-index: 10;
}

#menu_lefttop a.heading:link, #menu_lefttop a.heading:visited {
	color: #FFFFFF;
	display: block;
}
	
#menu_lefttop a.heading:hover {
	color: #CCCCCC; 
	display: block;
}

#menu_lefttop img {
        display: block;
}	
	
#menu_lefttop div {
	height: auto;
}

#menu_lefttop div ul{  /* second-level lists */
/*	width: 179px; */
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	font-weight: normal;
	padding: 6px 6px 6px 4px;
	line-height: 15px;
	list-style-position: outside;  /* so bullet lists wrap under text */
	list-style-type: square;
	margin-left:  1em;
	padding-left: 0;
}

.menu_lefttop_drop {
   width: 194px;
   font-family: Arial, Helvetica, sans-serif;
   font-size: 12px;
   font-weight: normal;
   padding: 6px;
   line-height: 15px;
   border: 1px solid grey;
   background-color: #FFFFFF;
   margin: -5px 0px 5px;
}



#menu_lefttop a.heading {
	height: 24px;
/*	width: 191px;*/
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 17px;
/*	voice-family: "\"}\""; */
/*	voice-family: inherit; */
	text-decoration: none;
	background-repeat: no-repeat;
	padding-right: 10px;
	padding-left:  7px;
	margin-bottom: 5px;
}

#menu_lefttop div ul.related-sites,
#menu_lefttop div ul#news,
#menu_lefttop div ul#communityEventList {
    border: 1px lightgrey solid;
    height: 120px;
    list-style-position: inside;
    margin-left: 0;
    overflow-y: auto;
}

#menu_lefttop div ul.related-sites li,
#menu_lefttop div ul#news li,
#menu_lefttop div ul#communityEventList li {
    padding-left: 1.7em;
    text-indent: -1.5em;
}



/* newitems.js (highlight in yellow unread utems)*/
p.unreadlabel {
  color:yellow;
  font-size:.5em;
  padding-left:3px;
}

/*~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
	 =News
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~*/
table#news ul { 
    	list-style: inside disc;
	padding-left: 2em;
    	text-indent: -1em;
}
table#news ul ul {
    list-style-type: circle;
}
table#news p {
	margin-top: 1em;
	margin-bottom: 1em;
}
table#news a[href]:link, table#news a[href]:visited {
	text-decoration: underline;
}
table#news a[href]:hover, table#news a[href]:active {
	text-decoration: none;
}



/*~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
	 =BULLET LISTS    classic bullet list 
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~*/
#cirbulletlist ol,#cirbulletlist ul {
	list-style-type: disc;
	margin-left:  1em;
	padding-left: 1em;
	list-style-position: outside;
}
#cirbulletlist ol {
    list-style-type: decimal;
}
/*~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
	 = classic bullet list with no padding: serviceList.jsp
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~*/
ul.cirbulletlist {
	list-style-type: disc;
	margin-left:  1em;
	list-style-position: outside;
}



/*~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
	 =HEADER 
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~*/	
#nav-top li ul {  /* second-level lists */
  background-repeat: repeat-x;      /*was in AllSites, did not make it into WDK*/
  width:13em;
  padding: 6px 6px 6px 18px;
}


div#quick-search td {
  white-space: nowrap;
}

#header2 {
	color: #666666;
	font-size: 10px;  /*version,date*/
	min-width: 980px;
	height: 104px;
	background-repeat: no-repeat;
}


#header_rt {
   font-size: 12px;
   float: right;
   text-align: right;
   margin-right: 25px;
}

#header_rt a:link, #header_rt a:visited {
   text-decoration: none;
}

#header_rt a:hover, #header_rt a:active {
   color: #FFFFFF;
   text-decoration: none;
}

#header_rt #bottom {
   width: 100%;
   height: 50px;
   margin-top: 18px;
}
 
#toplink {
	padding-top: 1px;
}

#toplink a:link, #toplink a:visited{
	display: block;
	text-align: right;
}

#toplink a:hover {
	display: block;
	text-align: right;
}

/*~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
	 =MENUBAR (horizontal bar, under header)
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~*/	
/*~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
	 =Superfish menu stuff -- override in ${project}.css
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~*/

#menu {
  z-index: 500;
}

.sf-menu {
  width: 100%;
  background: transparent;
  margin-bottom: -0.4em;
}

.sf-menu a {
  border-left: 1px solid #fff;
  border-top: none;
  padding: .65em 1em;
  text-decoration: none;
}

.sf-menu a:link, .sf-menu a, .sf-menu a:visited  {
  color: white;
  font-weight: bold;
}

.sf-menu li {
  background: transparent;
}

.sf-menu li li {
    background: #B7B7B7;
}

.sf-menu li li li {
    background: #A7A7A7;
}

.sf-menu li li:hover, .sf-menu li.sfHover,
.sf-menu a:focus, .sf-menu a:hover, .sf-menu a:active {
	background:		#C7C7C7;
	outline:		0;
}

/*
.sf-menu li:hover {
	background:		transparent;
	outline:		0;
}
*/

.sf-menu li#favorite-menu > a {
  padding: 0.3em;
}

.sf-menu a:hover {
  color: #7a3838;
}

.sf-menu .sfHover > a {
  color: #364179;
}

/*~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
	 =Search Boxes (ORTHO: commmon.css)
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~*/

.search-box{
   width: 10em;
   padding: 2px;
   color: black;    /*   #5b5b5b;  */
   background-color: white;  /*  #eadfd9; */
   font-size: 11px;
   text-align: right;
} 

.search-box input{
	font-family: Arial, Helvetica, sans-serif;
}

.search-box .textbox{
	color: #333333;
	padding: 3px 5px;
	background-color: #EEEEEE;
}

.search-box .submit{
	padding: 3px 0;
	color: white;
	background-color: black;
}

.img_align_middle {
	white-space: normal;
	margin-bottom: -4px;
	background-color: transparent; /* to override gbrowse background white  */
}


/*~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
      =FOOTER       this allows to insert a div with version and date
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~*/

#footer{
   text-align: center;
   margin: 0 2.5%;
 /*  padding: 0px 0px 35px;     seems not to be needed 2011-12-06 */
   min-width: 950px;   /* 1100px; */
   font-size: 10px;
   width: 95%;  /* 75%  */
   background-color:#FFFFFF;
   background-repeat: repeat-x;
   color: #505050;
   line-height: 1.2em;
   clear: both;
}

/*~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
	 =QUERY GRID
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~*/

#queryGrid td {
	padding: 1px;
	vertical-align: top;
}

#queryGrid .queryGridBullet, #queryGrid .queryGridLink, #queryGrid .queryGridIcons {
	vertical-align: middle;
}

.innertube2{
	margin: 2px; /*Margins for inner DIV inside each column (to provide padding)*/
}
tr.headerrow2 td, #queryGrid tr.headerrow2 td {
	font-size: 14px;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	background-repeat: repeat-x;
	background-position: top;
	padding: 4px;
	background-color: #EEEEEE;
}

tr.subheaderrow2 td, #queryGrid tr.subheaderrow2 td {
	font-size: 12px;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	color: #474747;
	background-repeat: repeat-x;
	background-position: top;
	font-weight: bold;
	padding: 4px;
	background-color: #EEEEEE;
}
div.smallBlack { font-size: 8pt; color: black}
a.queryGridInactive {
        text-align:         center;
        font-family:        Helvetica;
        font-size:          10pt;
        color:              #C8C8C8;
}
a.queryGridActive {
        text-align:         center;
        font-family:        Helvetica;
        font-size:          10pt;
}
td.lines2, #queryGrid td.lines2 {
	padding-top: 3px;
}


/*~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
	 =SUMMARY TABLES 
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~*/
/* used by Expression graphs (fix for text alignment bug) */
td.centered {
       vertical-align: middle;
       padding: 20px;
}
td.top {
       vertical-align: top;
}


table.mytableStyle {
	empty-cells:show;
	border-width:1px;
	border-style:solid;	   /* solid, none, inset, outset, dashed, solid, */
	border-color:black;
	border-collapse:collapse;  /*separate */
/*	border-spacing:2px;  */    /* only makes sense when border-collapse is separate
	table-layout: auto;        /* fixed */
}
tr.mytdStyle {
	text-align:center;

}
tr.mythStyle {
	background-color:lightgrey;
	text-align:center;
	font-weight:bold;
}
td.mythStyle,td.mytdStyle,th.mythStyle {
	vertical-align:middle;
	border-width:1px;
	border-style:inset;
	border-color:gray;
	-moz-border-radius:0px;
	padding:3px;
	background-color:white;
}
th.mythStyle {
	font-weight:bold;
	background-color:lightgrey;
	border-bottom: 3px solid grey;
	cursor: pointer; 
/*	if we add back the sort icons in data summary .....
	padding:0;
	vertical-align:bottom; */

}

	#data-summary_info { font-weight:bold; }
	#data-summary_filter { font-weight:bold; }
	#gene-metrics_filter { font-weight:bold; }




/*~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
	 =WARNING BANNERS
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~*/

.announcebox {
	min-height: 35px;
  /*  height:auto !important; */
   /*  height:35px; */
	margin: 12px 25px 0 6px;
	padding: 6px;
	background-repeat: repeat-x;
	text-align: left;
	border: 1px solid #345d9b;
	vertical-align: middle;
}

.announcebox.home {
        min-width: 770px;  
        margin: 12px 5px 0 220px;
}


.announcebox img {
	margin-right: 3px;
}

.announcebox td {
	vertical-align:middle;
}

.announcebox.info {
	background-image: url(../images/infobox.jpg);
	color: #093c8a;
	background-color: #cdd9eb;
}

.announcebox.error {
	color: #c4000e;
	background-color: #eec1c2;
	background-image: url(../images/errorbox.jpg);
}

.announcebox.warn {
	color: #c4000e;
	background-color: #edf0ac;
	background-image: url(../images/warnbox.jpg);
}


/*~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
	 =TOXO  advanced filters (should be moved to Toxo.css)
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~*/

.vennFilter {
   float:left;
   margin-right: 30px;
   margin-bottom: 5px;
}

.vennFilter ul {
   list-style-type: none;
   margin: 0;
   padding: 0;
}

.vennFilter ul .current {
   background-color: transparent;
}

.vennDiagram {
   background: transparent url('/assets/images/venn_filters.png') repeat scroll 2px 0;
   height: 100px;
   width: 100px;
}

.vennDiagram.topSelected {
   background-position: 2px -108px;
}

.vennDiagram.midSelected {
   background-position: 2px -216px;
}

.vennDiagram.btmSelected {
   background-position: 2px -324px;
}

.vennLabels {
   margin-right: 3px;
   height: 100px;
}

.vennFilter.vennLabels ul {
   text-align: right;
}

.vennFilter.vennDiagram ul {
   text-align: center;
}

.vennFilter.vennDiagram ul li {
   margin-top: 14px;
}

.top_label {
   margin-top: 16px;
}

.bottom_label {
   margin-top: 24px;
}



/*~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
	 =some custom QUESTION PAGES, also blast.js
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~*/
div.usererror {
  color:red;
}


/*~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
	 =SPANLOGIC POPUP?
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~*/

.crumb_details td.region_a,
.crumb_details td.region_b {
  font-weight: bold;
  vertical-align: middle;
}

/* ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
	 SEARCH page: jQuery treeParam code (also used for attribute selection) 
	 makes organism <a href>.... so it picks up the link color 
	 in Project.css
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~*/

.jstree a[href]:link,.jstree a[href]:visited {
	color:black;
}
.jstree a[href]:hover,.jstree a[href]:active {
	color:black;
}


/*~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
	 = SAMPLE STRATEGIES
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~*/

.tableWithBorders table{
	border-collapse: collapse;
}
.tableWithBorders tr td{
	padding: 3px 4px 3px 4px;
	border: 1px solid black;
        vertical-align: middle;
}



/* ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
	   RECORD (gene) PAGE: GBrowse button
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~*/
a#gbView {
    background: transparent url('../images/button-design.gif') no-repeat scroll top right;
    display: block;
/*    float: left; */
    height: 24px;
    padding-left: 7px;
    padding-right: 4px; 
    padding-top: 5px;
    width: 140px;
    margin: 0px auto;
}

#gnCtx {
    height: 500px;
    overflow: auto;
}


/* ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
	 BASKET
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~*/
#export-basket {
    background-color: #EEEEEE;
    padding: 1px;
}

/*~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
	 = BASKET page: jQuery tabs:
         = in wdk/css/ui-custom-custom-theme/jquery-ui....custom.css
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~*/
.ui-tabs .ui-tabs-nav li a {
	padding: 0.1em 1em;
}


/*~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
	 =RESULTS page, column names
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~*/
tr.headerrow th { 
	background-size: 9990%;  
}

/* In sites.css we have as background image an image that is narrow for some cases where the th needs to stretch to hold 5 or 6 lines of text; this size forces the image to stretch with the container
	it does not work on IE7/8 (do not support css3) but it does not hurt either. */


/*~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    = RESULT PAGE: motif
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~*/
.motif { color: red; }




/* THE END */
/* under this, commented out */



