

/* ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

	 =TAGS 

~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~*/


body {
	background-image: url(/assets/images/OrthoMCL/background_s.jpg);
}

a:link, a:visited {
	color: #2a3469;
}

a:hover, a:active {
	color: #7a3838;
}


/*~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

	 =HEADER 

~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~*/	

#header2 {
	background-image: url(/assets/images/OrthoMCL/backgroundtop_s.jpg);
}

#header_rt {
   color: #ffffff;
}

#header_rt a:link, #header_rt a:visited {
   color: #ffffff;
}

/* only used in tritryp (genedb link) 

#toplink a:link, #toplink a:visited{
	width: 381px;
}

#toplink a:hover {
	width: 381px;
}
 */


/*~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

	 =HEADER DROPDOWN MENU (in WDK)

~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~*/	

#nav-top a:link, #nav-top a:visited {
	color:  white;
}

#nav-top > li > ul { 
	background-image: url(/assets/images/OrthoMCL/footer.png);
	border-color:#345ca1;
	list-style-image: url(/assets/images/OrthoMCL/bullet_arrow.gif);
}

#nav-top > li > ul a:link, #nav-top > li > ul a:visited {
	color: #2a3469;
}

#nav-top > li > ul a:hover, #nav-top > li > ul a:active {
	color: #7a3838;
}


table#quick-search a {
  color:white;
}


/*~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

	 =STRUCTURE :  contentwrapper css provided by wdk

~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~*/	
 
#contentcolumn {
	background-image: url(/assets/images/OrthoMCL/footer.png);
	border: 1px solid #345ca1;
}

#contentcolumn2 {
	background-image: url(/assets/images/OrthoMCL/footer.png);
	border: 1px solid #345ca1;
}

#mysearchhist {
	background-image: url(/assets/images/OrthoMCL/bubble_my_searchbox.png);
	border: 1px solid #345ca1;
}

#main_tools {
	background-image: url(/assets/images/OrthoMCL/tools_bckgnd.jpg);
}

#about_us_left {
	background-color: #bfccdf;
	list-style-image: url(/assets/images/OrthoMCL/bullet_arrow.gif);
}

#pink_title {
	color: #5e0f28;
	background-image: url(/assets/images/OrthoMCL/trheader.png);
}


/*~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
	 =Top MenuBar Dropdown List
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~*/


#menu a:hover, #menu a:active, span#stratTitle, #strategy_tabs #selected a {
	color:#364179;
}

#menu ul ul a:link, #menu ul ul a:visited{
	border-bottom-color: #414141;
}

#menu ul ul a:hover, #menu ul ul a:active{
	border-bottom-color: #a45d35;
	color: #4eb8cb;
}


/*~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

	 =SIDEBAR

~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~*/

.menu_lefttop_drop {
   border-color: #412d2f;  /* color as in contentcolumn border */
}

#menu_lefttop a.heading {
	background-image: url(/assets/images/OrthoMCL/menu_lft2.png);
}

#sidebar a.heading {
	background-image: url(/assets/images/OrthoMCL/menu_lft2.png);
}
/*~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

	 =Search Boxes

~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~*/


.search-box{
   border: solid 1px #818181;
} 

.search-box .textbox{
	border: solid 1px #b3b3b3;
}


/*~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

	 =Fonts 

~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~*/

h1 {
	color: #374079;
}

h2 {
  	color: #374079;
}

.h2center, .h3left,.h3center, .h4left {
  	color: #374079;
}

.subcolor {
	color: #6670ad;
}


/*~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

	 =FOOTER  

~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~*/


#footer{
    background-image: url(/assets/images/OrthoMCL/footer.png);
 }


/*~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

	 =TABLES 

~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~*/


td.headerrow {
	color: #0c3f60;
	background-image: url(/assets/images/OrthoMCL/trheader.png);
}


tr.headerrow {
	color: #5e0f28;
}

tr.headerrow th, .flexigrid tr.headerrow th#primary_key:hover {
	background-image: url(/assets/images/OrthoMCL/trheader.png);
}

.flexigrid tr.headerrow th:hover {
	background-image: url(/assets/images/OrthoMCL/trhover.png);
}

td.subheaderrow {
	background-image: url(/assets/images/OrthoMCL/trsubhead.png);
}

tr.subheaderrow th {
	background-image: url(/assets/images/OrthoMCL/trsubhead.png);
}


/*~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

	 =FOR QUERY GRID

~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~*/


tr.headerrow2 td{
    color: #5e0f28;
	background-image: url(/assets/images/OrthoMCL/trheader.png);
}

tr.subheaderrow2 td{
	background-image: url(/assets/images/OrthoMCL/trsubhead.png);
}

a.queryGridInactive {
	color: #C8C8C8;
}

a.queryGridActive {
    color:  #772841;
}


tr.subheaderrow th {
	border-color: #772841;
}

tr.headerrow th { 
	border-color: #772841;
}


/*~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

	 =ABOUT US and HELP PAGES SIDEBAR

~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~*/


.twoColHybLt #sidebar1 {
	background-image: url(/assets/images/OrthoMCL/aboutus.jpg);
}


/*~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

	 =MISC 

~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~*/


span.marker a:link, span.marker a:visited {
	color: #7D0101;
}


/* APPLICATION PAGE STYLES */


#strategy_tabs a:link, #strategy_tabs a:visited {
    background-color: #E8EBF0;
}



/*~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

	 = styles for blockUI popups

~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~*/


.blockMsg{
	border: 1px solid #634697;
}


.blockPage{
	background-image: url(/assets/images/OrthoMCL/footer.png);
}


.flexigrid div.hDiv{
	background-image:url(/assets/images/OrthoMCL/trheader.png);
}


.flexigrid div.hDiv th.thMove{
	background-image:url(/assets/images/OrthoMCL/trheader.png);
}

div.colCopy{
	background-image:url(/assets/images/OrthoMCL/trheader.png);
}



/*~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

	 filter_menu.css

~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~*/

#query_form {
	border: 1px solid #015f9a;
}

#menubar { 
	height:23px; 
}



/*~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

	 ABOUT page

~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~*/
div#about .section-title {
	color: white;
  background-image: url(/assets/images/OrthoMCL/footer.png);

}
