$red: #DD314E;

.ce-StudySearchIconLinks {
  display: flex;

  &Item {
    margin: 0 .5em;

    a {
      color: black;
      transition: 250ms color;

      &:hover {
        color: $red;
      }
    }

  }
}
