$red: #DD314E;

.StudyMenuItem {
  min-width: 300px;
  display: flex;
  align-items: center;
  flex-wrap: nowrap;
  font-weight: 400;
  .StudyMenuItem-Name {
    flex: 0 0 auto;
    white-space: nowrap;
    flex-wrap: nowrap;
  }
  .StudyMenuItem-Links {
    justify-content: flex-end;
    flex: 1 1 auto;
    flex-wrap: nowrap;
    .fa {
      font-size: 1.4em;
      padding: 5px;
      transition: all 0.25s;
      &:hover {
        color: $red;
      }
    }
  }
  .StudyMenuItem-RecordLink {
    // font-weight: 500;
    transition: color 0.5s;
    .fa {
      margin-left: 5px;
    }
    &:hover {
      color: $red !important;
    }
  }
}

.StudyMenuItem--disabled {
  cursor: not-allowed;
  opacity: 0.5;
  * { pointer-events: none !important; }
}
