// The following was taken from https://medium.com/@dmitriy.borodiy/easy-color-theming-with-scss-bc38fd5734d1

// TODO Figure out how to only include this for genomic sites.

$themes: (

  AmoebaDB: (
    primary-color: #4d8b91,
    bckgrnd-img: url('~site/images/AmoebaDB/header-amoebaDB.jpg'),
    logo: url('~site/images/VEuPathDB/logos/amoebaDB.png'),
  ),
  
  // bckgrnd dark 
  CryptoDB: (
    primary-color: #5d4555,
    bckgrnd-img: url('~site/images/CryptoDB/header-cryptoDB.jpg'),
    logo: url('~site/images/VEuPathDB/logos/cryptoDB.png'),  /* crypto-logo-w.png, crypto-logo-2.png */
  ),
  
  // eupath  bkgrnd 
  FungiDB: (
    primary-color: #407e91,
    bckgrnd-img: url('~site/images/FungiDB/header-fungiDB.jpg'),
    logo: url('~site/images/VEuPathDB/logos/fungiDB.png'),
  ),
  
  // eupath  bkgrnd w/one watermark,  Giardia: #569551,  veupathdb-banner-GADB.jpg 
  GiardiaDB: (
    primary-color: #448155,
    bckgrnd-img: url('~site/images/GiardiaDB/header-giardiaDB.jpg'),
    logo: url('~site/images/VEuPathDB/logos/giardiaDB.png'),
  ),
  
  // eupath  bkgrnd, default 
  HostDB: (
    primary-color: #448155,
    bckgrnd-img: url('~site/images/VEuPathDB/veupathdb-banner.jpg'),
    logo: url('~site/images/VEuPathDB/logos/hostDB.png'),
  ),
  
  // tinted bkgrnd  MicrosporidiaDB: #4d3c68 (same as header) or #7988b3 (second color), veupathdb-banner-MSDBtint.jpg 
  MicrosporidiaDB: (
    primary-color: #448155,
    bckgrnd-img: url('~site/images/MicrosporidiaDB/header-microsporidiaDB.jpg'),
    logo: url('~site/images/VEuPathDB/logos/microsporidiaDB.png'),
  ),
  
  // tinted  bkgrnd  PiroplasmaDB: #8b465c (same as header) or #3a8c9f (second color), veupathdb-banner-PPDBtint.jpg 
  PiroplasmaDB: (
    primary-color: #6c657a,
    bckgrnd-img: url('~site/images/PiroplasmaDB/header-piroplasmaDB.jpg'),
    logo: url('~site/images/VEuPathDB/logos/piroplasmaDB.png'),
  ),
  
  // bckgrnd light 
  PlasmoDB: (
    primary-color: #694b66,
    bckgrnd-img: url('~site/images/PlasmoDB/header-plasmoDB.jpg'),
    logo: url('~site/images/VEuPathDB/logos/plasmoDB.png'), 
  ),
  
  // eupath bkgrnd 
  SchistoDB: (
    primary-color: #74577a,
    bckgrnd-img: url('~site/images/EuPathDB/veupathdb-banner.jpg'),
    logo: url('~site/images/VEuPathDB/logos/schistoDB.png'),
  ),
  
  // eupath bkgrnd 
  ToxoDB: (
    primary-color: #699e58,
    bckgrnd-img: url('~site/images/ToxoDB/header-toxoDB.jpg'),
    logo: url('~site/images/VEuPathDB/logos/toxoDB.png'),
  ),
  
  // eupath bkgrnd 
  TrichDB: (
    primary-color: #5f5953,
    bckgrnd-img: url('~site/images/VEuPathDB/veupathdb-banner.jpg'),
    logo: url('~site/images/VEuPathDB/logos/trichDB.png'),
  ),
  
  // eupath bkgrnd w/one watermark, TriTrypDB: #c06530,  veupathdb-banner-TTDB.jpg 
  TriTrypDB: (
    primary-color: #c46f41,
    bckgrnd-img: url('~site/images/TriTrypDB/header-tritrypDB.jpg'),
    logo: url('~site/images/VEuPathDB/logos/tritrypDB.png'),
  ),
  
  // bckgrnd dark 
  VectorBase: (
    primary-color: #27638c,
    bckgrnd-img: url('~site/images/VectorBase/header-vectorbase.jpg'),
    logo: url('~site/images/VEuPathDB/logos/vectorbase.png'),
  ),

);


@mixin themify($themes: $themes, $child: &) {
  @each $theme, $map in $themes {
    @at-root .vpdb-RootContainer.#{$theme} #{$child} {
      $theme-map: () !global;
      @each $key, $submap in $map {
        $value: map-get($map: map-get($themes, $theme), $key: '#{$key}');
        $theme-map: map-merge($map1: $theme-map, $map2: ($key: $value)) !global;
      }
      @content;
      $theme-map: null !global;
    }
  }
}

@function themed($key) {
  @return map-get($theme-map, $key);
}
