#
###############################################################################
# This is a SAMPLE file.  You must provide your values to correctly configure your use.
# To fully understand this file run the generateFilesFromTemplates command with no arguments
###############################################################################

# The 'required:' section provides required meta-config properties.  They are used to configure the masterConfig.yaml file.
# The values here are subsituted into macros in masterConfig.yaml file (not directly into the template files)
required:
 project: PlasmoDB
 appDb.instance: plas-inc
 appDb.login: your_db_login
 appDb.password: your_db_password
 appDb.userDbLink: devn.LOGIN_COMMENT
 userDb.instance: apicommDevN
 userDb.login: your_db_login
 userDb.password: your_db_password
 commentDb.instance: apicommDevN
 commentDb.login: your_db_login
 commentDb.password: your_db_login
 gushome: $ENV{GUS_HOME}


 ###############################################################################################
 # dev sites don't typically need to bother with anything below here (except OrthoMCL dev sites)
 ###############################################################################################


 # these only needed in the portal 
 amebURL: http://amoebadb.org/amoeba/
 crypURL: http://cryptodb.org/cryptodb/
 giarURL: http://giardiadb.org/giardiadb/
 fungURL: http://fungidb.org/fungidb/
 micrURL: http://microsporidiadb.org/micro/
 piroURL: http://piroplasmadb.org/piro/
 plasURL: http://plasmodb.org/plasmo/
 toxoURL: http://toxodb.org/toxo/
 tricURL: http://trichdb.org/trichdb/
 trypURL: http://tritrypdb.org/tritrypdb/

 # this needed in all sites BUT the portal (in the portal this value would cause a livelock)
 myURL: http://hostdb.org/hostdb/


# The 'sections:' section controls which sections from the masterConfig.yaml to use to override the 'default:' section 
# Uncomment one from -apiSite/-orthomcl
sections:
 - apiSite

# - cryptodb

# - orthomcl


# The 'custom:' section overrides all key/values in masterConfig.yaml.  It lets you make a non-standard configuration as needed.
custom:

 


