#
###############################################################################
# This is a SAMPLE file.  You must provide your values to correctly configure your use.
# To fully understand this file run the generateFilesFromTemplates command with no arguments
###############################################################################

# The 'required:' section provides required meta-config properties.  They are used to configure the masterConfig.yaml file.
# The values here are subsituted into macros in masterConfig.yaml file (not directly into the template files)
required:

 project: PlasmoDB

 appDb.instance: plas-inc
 appDb.login: your_db_login
 appDb.password: your_db_password
 appDb.userDbLink: devn.LOGIN_COMMENT
 appDb.acctDbLink: acctdbN.profile

 userDb.instance: apicommDevN
 userDb.login: your_db_login
 userDb.password: your_db_password
 
 commentDb.instance: apicommDevN
 commentDb.login: your_db_login
 commentDb.password: your_db_login

 # NOTE: accountDb login should probably be the same as userDb
 accountDb.instance: acctDbN
 accountDb.login: your_db_login
 accountDb.password: your_db_password

 gushome: $ENV{GUS_HOME}
 
 # authentication method
 authenticationMethod: user_db
 #authenticationMethod: oauth2

 # to use OAuth2 for authentication switch method above and fill in client secret below
 oauthUrl: https://eupathdb.org/oauth
 oauthClientId: apiComponentSite
 oauthClientSecret: XXXXXXXXXX

 ###############################################################################################
 # dev sites don't typically need to bother with anything below here (except OrthoMCL dev sites)
 ###############################################################################################

 # these only needed in the portal 
 amebURL: http://amoebadb.org/amoeba
 crypURL: http://cryptodb.org/cryptodb
 fungURL: http://fungidb.org/fungidb
 giarURL: http://giardiadb.org/giardiadb
 micrURL: http://microsporidiadb.org/micro
 piroURL: http://piroplasmadb.org/piro
 plasURL: http://plasmodb.org/plasmo
 toxoURL: http://toxodb.org/toxo
 tricURL: http://trichdb.org/trichdb
 trypURL: http://tritrypdb.org/tritrypdb

 # this needed in all sites (even if URL mapping already exists above)
 myURL: http://hostdb.org/hostdb

# The 'sections:' section controls which sections from the masterConfig.yaml to use to override the 'default:' section 
# Uncomment either -apiSite and -{projectid} or one of the stand-alone sites
sections:
 - apiSite
 - plasmodb

# - orthomcl
# - clinepidb
# - microbiomedb


# The 'custom:' section overrides all key/values in masterConfig.yaml.  It lets you make a non-standard configuration as needed.
custom:

