#
###############################################################################
# This is a SAMPLE file.  You must provide your values to correctly configure your use.
# To fully understand this file run the generateFilesFromTemplates command with no arguments
###############################################################################

# This section provides required meta-config properties.  They are used to configure the masterConfig.yaml file.
# The values here are subsituted into macros in masterConfig.yaml file (not directly into the template files)
required:
 project: PlasmoDB
 appDb.login: your_db_login
 appDb.password: your_db_password
 appDb.instance: plas-inc
 appDB.userDbLink: devn.LOGIN_COMMENT
 userDb.login: uga_fed
 userDb.password: uga_fed_password
 userDb.instance: apicommDevN
 commentDb.login: your_db_login
 commentDb.password: your_db_login
 commentDb.instance: apicommDevN
 gushome: $ENV{GUS_HOME}

 # for a component sites, you only need one of these.  the portal needs all.  used in projects.xml
 amebURL: http://amoebadb.org/amoeba/
 crypURL: http://cryptodb.org/cryptodb/
 giarURL: http://giardiadb.org/giardiadb/
 fungURL: http://fungidb.org/fungidb/
 micrURL: http://microsporidiadb.org/micro/
 piroURL: http://piroplasmadb.org/piro/
 plasURL: http://plasmodb.org/plasmo/
 toxoURL: http://toxodb.org/toxo/
 tricURL: http://trichdb.org/trichdb/
 trypURL: http://tritrypdb.org/tritrypdb/

 # only needed for plasmo. (needed in model.prop)
 plasmoPubsURL: whatever_url


# This section controls which sections from the masterConfig.yaml to use to override the 'default:' section 
# Uncomment one from -apiSite/-orthomcl
sections:
 - apiSite
# - orthomcl


# This section overrides all key/values in masterConfig.yaml.  It lets you make a non-standard configuration as needed.
custom:

 


