body {
    margin: 20px;
    padding: 0px;
    background: #DDDDDD;
    font: 16px arial, sans-serif;
}

#tabmenu {
    color: #000;
    border-bottom: 1px solid black;
    margin: 12px 0px 0px 0px;
    padding: 0px;
    z-index: 1;
    padding-left: 10px
}

#tabmenu li {
    display: inline;
    overflow: hidden;
    list-style-type: none;
}

#tabmenu a, a.active {
    color: #000000;
    background: #cccccc;
    font-family: "Trebuchet MS", Arial, sans-serif;
    font-weight: bold;
    font-size: 1em;
    border: 1px solid black;
    padding: 2px 5px 0px 5px;
    margin: 0;
    text-decoration: none;
}

#tabmenu a.active {
    background: #FFFFFF;
    border-bottom: 1px solid #FFFFFF;
}

#tabmenu a:hover {
    color: #000;
    background: #fff;
}

#tabmenu a:visited {
    color: #000;
}

#tabmenu a.active:hover {
    background: #fff;
    color: #000000;
}

#content {
    font: 12px Verdana, Arial, Helvetica, sans-serif;
    text-align: justify;
    background: #ffffff;
    padding: 20px;
    border: 1px solid black;
    border-top: none;
    z-index: 2;
}

/** ############# **/

a { color: #2F4F4F }

h2 {
   border-width:2px 0;
   border-style:solid;
   border-color:#C28547;
   padding-left: 5px;
}
   
 h3.banner {
    background: #336699;
    color: white;
    cursor: pointer;
    font-family: Arial, Helvetica, sans-serif;
    margin: 0 0 5px 0;
    padding: 5px;
    font-size: 14px;
}

 h3.banner a { 
        color: white;
     }

p {
    font-size: 12px;
    margin: 12px 8px;
    text-align: left;
}

span.pre {
  white-space: pre;
  font-family: monospace;
  display: block;
}

.clickable {
  cursor: pointer;
  font: 12px Verdana, Arial, Helvetica, sans-serif;
  font-weight: bold;
  color: #2F4F4F;
}

.warn {
    font-size: 12px;
    color: #C35617;
}

.fatal {
    font-size: 12px;
    color: red;
}

.smalltext {
  font-weight: normal ! important;
  font-size:8px
}

table.dataTable {
  width: auto;
  border-spacing: 3px;
  border-collapse: separate;
}

table.p {
    font-size: 12px;
    margin: 12px 8px;
}

td.p {
    padding-left: 10px; 
}

table.dataTable.row-border tbody th, 
table.dataTable.row-border tbody td, 
table.dataTable.display tbody th, 
table.dataTable.display tbody td {
    border-top: none;
}

tr.rowMedium, table.dataTable.display tr.rowMedium  {
    background-color: #C4CFCB;
    color: black;
}
tr.rowMedium td,
table.dataTable.display tr.rowMedium td {
    padding-left:   5px;
    padding-top:    1px;
    padding-bottom: 1px;
    white-space: nowrap;
}
tr.rowLight, table.dataTable.display tr.rowLight {
    background-color: white;
    color: black;
}

tr.rowLight td,
table.dataTable.display tr.rowLight td {
    padding-left:   5px;
    padding-top:    1px;
    padding-bottom: 1px;
    white-space: nowrap;
}    

    
tr.headerRow {
    background: #EFEFEF;
}
tr.headerRow  td,th, table.dataTable thead th  {
   border-width:2px 0;
   border-style:solid;
   border-color:#336699;
   padding-left: 5px;
   padding-top: 3px;
   padding-bottom: 3px;
}

div.related_dashboard_links {
  float: right;
  width: 27em;
  padding: 0.5em;
  margin: 0 0em 0 0;
  color: black;
  background: #dee2ed;
  border-left: 1px solid #C28547;
  border-top: 1px solid #C28547;
}

#loading {
  position: absolute;
  top: 0;
  left: 0;
  text-align: center;
  width: 100%;
}

#loading span {
  background-color: wheat;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  border: 1px solid gold;
  font-size: small;
  padding: 0 0.4em;
}

#content_tabs { 
    background: transparent; 
    border: none; 
} 
#content_tabs .ui-widget-header { 
    background: transparent; 
    border: none; 
    border-bottom: 1px solid #c0c0c0; 
    -moz-border-radius: 0px; 
    -webkit-border-radius: 0px; 
    border-radius: 0px; 
} 
#content_tabs .ui-tabs-nav .ui-state-default { 
    background: transparent; 
    border: none; 
} 
#content_tabs .ui-tabs-nav .ui-state-active { 
    background: transparent url(img/uiTabsArrow.png) no-repeat bottom center; 
    border: none; 
} 
#content_tabs .ui-tabs-nav .ui-state-default a { 
    color: #c0c0c0; 
} 
#content_tabs .ui-tabs-nav .ui-state-active a { 
    color: #C28547; 
    text-decoration: underline;
}
