<?xml version="1.0"?>

<commentConfig 
    login="${commentDb.login}"
    password="${commentDb.password}"
    connectionUrl="${commentDb.instance}"
    platform="${commentDb.platform}"
    maxActive="${commentDb.maxActive}"
    maxIdle="${commentDb.maxIdle}"
    minIdle="${commentDb.minIdle}"
    maxWait="${commentDb.maxWait}"
    commentSchema="${commentDb.commentSchema}"
    userLoginSchema="${commentDb.userLoginSchema}"
    userLoginDbLink="@${commentDb.userLoginDbLink}"
    userFileSchema="${commentDb.userFileSchema}"
    userFileUploadDir="${commentDb.userFileUploadDir}"
/>

