TOXO_COMMENT_SCHEMA=${toxocommentschema}

PUBLICATIONS_URL=${plasmoPubsURL}

COMMENT_SCHEMA=${commentDb.commentSchema}.

COMMENT_DBLINK=@${commentDbLink}

PROJECT_ID=${project}

CNDSRC_BIN=${cndSrcBin}

SITE_ADMIN_EMAIL=${siteAdminEmail}

WEBSERVICEMIRROR=${webServiceMirror}

BLASTDB_PATH=${webServiceMirrorOrtho}

STEP_ANALYSIS_JOB_DIR=${wdkStepAnalysisJobsDir}/${userDb.instance}

TWITTER_ID=${twitter}

FACEBOOK_ID=${facebook}
