PUBLICATIONS_URL=${plasmoPubsURL}

COMMENT_SCHEMA=${commentDb.commentSchema}.

COMMENT_DBLINK=@${commentDbLink}

PROJECT_ID=${project}

CNDSRC_BIN=${cndSrcBin}

WEBSERVICEMIRROR=${webServiceMirror}

BLASTDB_PATH=${webServiceMirrorOrtho}

STEP_ANALYSIS_JOB_DIR=${wdkStepAnalysisJobsDir}/${userDb.instance}

GOOGLE_ANALYTICS_ID=${googleAnalyticsId}

TWITTER_URL=${twitterUrl}

TWITTER_WIDGET_ID=${twitterWidgetId}

FACEBOOK_URL=${facebookUrl}

YOUTUBE_URL=${youtubeUrl}

WEBAPP_BASE_URL=${myURL}/app

LEGACY_WEBAPP_BASE_URL=${myURL}

USE_LEGACY_RECORD_PAGE=${useLegacyRecordPage}
