# $Revision: 51397 $

COMMENT_SCHEMA=${commentDb.UserSchema}

COMMENT_DBLINK=${commentDbLink}

PROJECT_ID=${project}

CNDSRC_BIN=${cndsrcBin}

SITE_ADMIN_EMAIL=${siteAdminEmail}

WEBSERVICEMIRROR= ${webServiceMirror}

