<?xml version="1.0" encoding="UTF-8"?>
<!--
  THe file projects.xml will be added to your gus_home/config, if there is none.

  THESE URLS are used to access record page:
        - in any result in the portal,
        - in blast results
        - in motif results
        - (any result using a wsf plugin)

  SOON (once ApiFedplugin gets updated) this file will be used by the portal to access specific component sites' WSF.

  Feel free to update your project.xml to point to your own sites (same for qa and integrate).

-->
<!-- the timeout, in seconds, of a remote call to a project. -->
<projects timeout="0" xmlns="http://www.eupathdb.org" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  xsi:schemaLocation="http://www.eupathdb.org ../lib/rng/projects.xsd ">
<!--  <project name="EuPathDB" site="${eupaURL}" /> -->
  <project name="AmoebaDB" site="${amebURL}" />
  <project name="CryptoDB" site="${crypURL}" />
<!--  <project name="FungiDB" site="${fungURL}" /> -->
  <project name="GiardiaDB" site="${giarURL}" />
  <project name="MicrosporidiaDB" site="${micrURL}" />
  <project name="PiroplasmaDB" site="${piroURL}" />
  <project name="PlasmoDB" site="${plasURL}" />
  <project name="ToxoDB" site="${toxoURL}" />
  <project name="TrichDB" site="${tricURL}" />
  <project name="TriTrypDB" site="${trypURL}" />
<!--   <project name="OrthoMCL" site="${orthURL}" /> -->
</projects>
