.ebrc-ProjectLink {
  .AmoebaDB {
    content: url('~eupathdb/images/VEuPathDB/icons-footer/amoebaDB.png');
  }

  .ClinEpiDB {
    content: url('https://clinepidb.org/ce/images/symbol-small.png');
  }

  .CryptoDB {
    content: url('~eupathdb/images/VEuPathDB/icons-footer/cryptoDB.png');
  }

  .FungiDB {
    content: url('~eupathdb/images/VEuPathDB/icons-footer/fungiDB.png');
  }

  .GiardiaDB {
    content: url('~eupathdb/images/VEuPathDB/icons-footer/giardiaDB.png');
  }

  .HostDB {
    content: url('~eupathdb/images/VEuPathDB/icons-footer/hostDB.png');
  }

  .MicrobiomeDB {
    content: url('https://microbiomedb.org/mbio/images/18170.png');
  }

  .MicrosporidiaDB {
    content: url('~eupathdb/images/VEuPathDB/icons-footer/microsporidiaDB.png');
  }

  .PiroplasmaDB {
    content: url('~eupathdb/images/VEuPathDB/icons-footer/piroplasmaDB.png');
  }

  .PlasmoDB {
    content: url('~eupathdb/images/VEuPathDB/icons-footer/plasmoDB.png');
  }

  .ToxoDB {
    content: url('~eupathdb/images/VEuPathDB/icons-footer/toxoDB.png');
  }

  .TrichDB {
    content: url('~eupathdb/images/VEuPathDB/icons-footer/trichDB.png');
  }

  .TriTrypDB {
    content: url('~eupathdb/images/VEuPathDB/icons-footer/tritrypDB.png');
  }

  .OrthoMCL {
    content: url('https://orthomcl.org/orthomcl/images/OrthoMCL/footer-logo.png');
  }

  .VectorBase {
    content: url('~eupathdb/images/VEuPathDB/icons-footer/vectorbase.png');
  }

  .VEuPathDB {
    content: url('~eupathdb/images/VEuPathDB/icons-footer/VEuPathDB.png');
  }
}
