.ebrc-Header {
  position: fixed;
  width: 100%;
  height: 9.0625rem;

  display: flex;
  align-items: center;

  padding: 90px 20px 10px;

  &Branding {
    font-size: 35px;
    color: white;

    margin-right: 1rem;
  }

  &Content {
    display: flex;
    position: relative;
    align-items: center;
    flex: auto;
  }

  &MenuBar {
    margin-right: auto;
  }

  &MenuBar > &MenuItemGroup {
    display: flex;

    > .ebrc-HeaderMenuItemContent {
      padding: 0.5rem;
      font-size: 0.9rem;

      > a, .ebrc-HeaderSubmenuGroup > a {
        color: rgba(255,255,255,.5);

        &:hover {
          color: rgba(255,255,255,.8);
          text-decoration: none;
        }
      }
    }
  }

  &MenuItemContent {
    white-space: nowrap;
  }

  &SubmenuGroup {
    position: relative;
    color: black;

    a {
      color: black;
    }

    &__selected {
      > a::after {
        position: absolute;
        width: 0;
        height: 0;
        border-left: 1rem solid transparent;
        border-right: 1rem solid transparent;
        border-bottom: 1rem solid #ededed;
        content: "";
        left: 50%;
        margin-left: -1rem;
        top: 1.6rem;
        z-index: 10;
      }
    }

    .ebrc-HeaderMenuItemGroupContainer {
      position: absolute; 

      .ebrc-HeaderMenuItemGroup {
        margin-top: 1.5rem;
        background-color: #ededed;
        padding: 0.125rem 0.25rem;
        box-shadow: 0 0 1rem rgba(0,48,76,.5);
        overflow-y: scroll;
        max-height: 80vh;
      }
  
      .ebrc-HeaderMenuItemContent {
        padding: 0.625rem 1rem;
      } 
    }
  }

  &SearchBar {
    display: flex;
    align-items: center;

    font-size: 1rem;

    flex: auto;
    max-width: 650px;

    margin-left: 1rem;
    margin-right: 1rem;

    input {
      // FIXME: The specificity for the input styles
      // in AllSites.scss might be too high
      padding: .375rem .75rem!important;
      padding-left: 1rem padding!important;

      flex: auto;

      line-height: 1.5;

      border-top-left-radius: 50rem;
      border-bottom-left-radius: 50rem;
    }

    button.ebrc-HeaderSearchSubmit {
      color: #fff;
      background: #6c757d;
      border-color: #6c757d;

      margin-left: -0.0625rem;

      border-top-right-radius: 50rem;
      border-bottom-right-radius: 50rem;

      padding: .375rem 1rem .375rem .75rem;

      line-height: 1.5;
    }

    @media screen and (max-width: 991px) {
      // Future residence of expand/collapse searchbar control
    }
  }

  &SearchBarToggle {
    &__hidden {
      display: none;
    }
  }

  .ebrc-FooterSocialMediaLinks {
    position: absolute;
    top: 3.75rem;
    right: -1rem;
    background-color: rgba(255,255,255,.9);
    max-width: unset;

    a {
      color: #00304c;
    }

    @media screen and (max-width: 767px) {
      display: none;
    }
  }

  .UserMenu {
    text-align: center;
    padding: unset;

    &-Pane {
      background-color: #ededed;
      box-shadow: 0 0 1rem rgba(0,48,76,.5);
      z-index: 10;
    }
  }
}
