.ebrc-NewsPane {
  position: relative;

  .News-Section { 
    .wdk-Showcase-HeadingRow {
      h2 {
        font-size: 2.33333333333em;
        color: #00304c;
        text-shadow: unset;
        font-weight: 500;
        margin: 0;
      }
    }

    .AllNewsLink {
      color: #00304c;
    }

    .wdk-Showcase-ContentRow, .News {
      border: unset;
    }
  }

  &Drawer {
    position: absolute;
    left: -.0625rem;
    top: 0.5rem;

    &Content {
      // #a0a7ac
      border-left: 1.5em solid #b4babe;
      border-top: 1em solid transparent;
      border-bottom: 1em solid transparent;
      height: 4em;

      button {
        position: relative;
        left: -0.875em;
        color: white;
        font-size: 1.5em;
      }
    }
  }
}
