.ebrc-ProjectLink {
  .AmoebaDB {
    content: url('~eupathdb/images/AmoebaDB/footer-logo.png');
  }

  .ClinEpiDB {
    content: url('https://clinepidb.org/ce/images/symbol-small.png');
  }
  
  .CryptoDB {
    content: url('~eupathdb/images/CryptoDB/footer-logo.png');
  }

  .FungiDB {
    content: url('~eupathdb/images/FungiDB/footer-logo.png');
  }

  .GiardiaDB {
    content: url('~eupathdb/images/GiardiaDB/footer-logo.png');
  }

  .HostDB {
    content: url('~eupathdb/images/HostDB/footer-logo.png');
  }

  .MicrobiomeDB {
    content: url('https://eupathdb.org/oauth/assets/images/microbiome-icon.png');
  }

  .MicrosporidiaDB {
    content: url('~eupathdb/images/MicrosporidiaDB/footer-logo.png');
  }

  .PiroplasmaDB {
    content: url('~eupathdb/images/PiroplasmaDB/footer-logo.png');
  }

  .PlasmoDB {
    content: url('~eupathdb/images/PlasmoDB/footer-logo.png');
  }

  .ToxoDB {
    content: url('~eupathdb/images/ToxoDB/footer-logo.png');
  }

  .TrichDB {
    content: url('~eupathdb/images/TrichDB/footer-logo.png');
  }

  .TriTrypDB {
    content: url('~eupathdb/images/TriTrypDB/footer-logo.png');
  }

  .OrthoMCL {
    content: url('~eupathdb/images/OrthoMCL/Ortho-3D-lighter-50.png'); 
  }

  .VectorBase {
    content: url('https://eupathdb.org/oauth/assets/images/vectorbase-icon.png');
  }

  .VEuPathDB {
    content: url('https://eupathdb.org/oauth/assets/images/veupath-icon.png');
  }
}
