<a href="https://veupathdb.org"><img src="https://veupathdb.org/veupathdb/images/VEuPathDB/icons-footer/VEuPathDB.png"/></a>
<a href="https://amoebadb.org"><img src="https://veupathdb.org/veupathdb/images/VEuPathDB/icons-footer/amoebaDB.png"/></a>
<a href="https://cryptodb.org"><img src="https://veupathdb.org/veupathdb/images/VEuPathDB/icons-footer/cryptoDB.png"/></a>
<a href="https://fungidb.org"><img src="https://veupathdb.org/veupathdb/images/VEuPathDB/icons-footer/fungiDB.png"/></a>
<a href="https://giardiadb.org"><img src="https://veupathdb.org/veupathdb/images/VEuPathDB/icons-footer/giardiaDB.png"/></a>
<a href="https://hostdb.org"><img src="https://veupathdb.org/veupathdb/images/VEuPathDB/icons-footer/hostDB.png"/></a>
<a href="https://microsporidiadb.org"><img src="https://veupathdb.org/veupathdb/images/VEuPathDB/icons-footer/microsporidiaDB.png"/></a>
<a href="https://piroplasmadb.org"><img src="https://veupathdb.org/veupathdb/images/VEuPathDB/icons-footer/piroplasmaDB.png"/></a>
<a href="https://plasmodb.org"><img src="https://veupathdb.org/veupathdb/images/VEuPathDB/icons-footer/plasmoDB.png"/></a>
<a href="https://toxodb.org"><img src="https://veupathdb.org/veupathdb/images/VEuPathDB/icons-footer/toxoDB.png"/></a>
<a href="https://trichdb.org"><img src="https://veupathdb.org/veupathdb/images/VEuPathDB/icons-footer/trichDB.png"/></a>
<a href="https://tritrypdb.org"><img src="https://veupathdb.org/veupathdb/images/VEuPathDB/icons-footer/tritrypDB.png"/></a>
<a href="https://vectorbase.org"><img src="https://veupathdb.org/veupathdb/images/VEuPathDB/icons-footer/vectorbase.png"/></a>
<a href="https://orthomcl.org"><img src="https://orthomcl.org/orthomcl/images/OrthoMCL/footer-logo.png"/></a>
<a href="https://clinepidb.org"><img src="https://clinepidb.org/ce/images/symbol-small.png"/></a>
<a href="https://microbiomedb.org"><img src="https://microbiomedb.org/mbio/images/18170.png"/></a>

.ebrc-ProjectLink {
  .AmoebaDB {
    content: url('https://veupathdb.org/veupathdb/images/VEuPathDB/icons-footer/amoebaDB.png');
  }

  .ClinEpiDB {
    content: url('https://clinepidb.org/ce/images/symbol-small.png');
  }

  .CryptoDB {
    content: url('https://veupathdb.org/veupathdb/images/VEuPathDB/icons-footer/cryptoDB.png');
  }

  .FungiDB {
    content: url('https://veupathdb.org/veupathdb/images/VEuPathDB/icons-footer/fungiDB.png');
  }

  .GiardiaDB {
    content: url('https://veupathdb.org/veupathdb/images/VEuPathDB/icons-footer/giardiaDB.png');
  }

  .HostDB {
    content: url('https://veupathdb.org/veupathdb/images/VEuPathDB/icons-footer/hostDB.png');
  }

  .MicrobiomeDB {
    content: url('https://microbiomedb.org/mbio/images/18170.png');
  }

  .MicrosporidiaDB {
    content: url('https://veupathdb.org/veupathdb/images/VEuPathDB/icons-footer/microsporidiaDB.png');
  }

  .PiroplasmaDB {
    content: url('https://veupathdb.org/veupathdb/images/VEuPathDB/icons-footer/piroplasmaDB.png');
  }

  .PlasmoDB {
    content: url('https://veupathdb.org/veupathdb/images/VEuPathDB/icons-footer/plasmoDB.png');
  }

  .ToxoDB {
    content: url('https://veupathdb.org/veupathdb/images/VEuPathDB/icons-footer/toxoDB.png');
  }

  .TrichDB {
    content: url('https://veupathdb.org/veupathdb/images/VEuPathDB/icons-footer/trichDB.png');
  }

  .TriTrypDB {
    content: url('https://veupathdb.org/veupathdb/images/VEuPathDB/icons-footer/tritrypDB.png');
  }

  .OrthoMCL {
    content: url('https://orthomcl.org/orthomcl/images/OrthoMCL/footer-logo.png');
  }

  .VectorBase {
    content: url('https://veupathdb.org/veupathdb/images/VEuPathDB/icons-footer/vectorbase.png');
  }

  .VEuPathDB {
    content: url('https://veupathdb.org/veupathdb/images/VEuPathDB/icons-footer/VEuPathDB.png');
  }
}
