.ebrc-ProjectLink {
  .AmoebaDB {
    content: url('https://amoebadb.org/amoeba/images/VEuPathDB/icons-footer/amoebaDB.png');
  }

  .ClinEpiDB {
    content: url('https://clinepidb.org/ce/images/symbol-small.png');
  }

  .CryptoDB {
    content: url('https://cryptodb.org/cryptodb/images/VEuPathDB/icons-footer/cryptoDB.png');
  }

  .FungiDB {
    content: url('https://fungidb.org/fungidb/images/VEuPathDB/icons-footer/fungiDB.png');
  }

  .GiardiaDB {
    content: url('https://giardiadb.org/giardiadb/images/VEuPathDB/icons-footer/giardiaDB.png');
  }

  .HostDB {
    content: url('https://hostdb.org/hostdb/images/VEuPathDB/icons-footer/hostDB.png');
  }

  .MicrobiomeDB {
    content: url('https://microbiomedb.org/mbio/images/18170.png');
  }

  .MicrosporidiaDB {
    content: url('https://microsporidiadb.org/micro/images/VEuPathDB/icons-footer/microsporidiaDB.png');
  }

  .PiroplasmaDB {
    content: url('https://piroplasmadb.org/piro/images/VEuPathDB/icons-footer/piroplasmaDB.png');
  }

  .PlasmoDB {
    content: url('https://plasmodb.org/plasmo/images/VEuPathDB/icons-footer/plasmoDB.png');
  }

  .ToxoDB {
    content: url('https://toxodb.org/toxo/images/VEuPathDB/icons-footer/toxoDB.png');
  }

  .TrichDB {
    content: url('https://trichdb.org/trichdb/images/VEuPathDB/icons-footer/trichDB.png');
  }

  .TriTrypDB {
    content: url('https://tritrypdb.org/tritrypdb/images/VEuPathDB/icons-footer/tritrypDB.png');
  }

  .OrthoMCL {
    content: url('https://orthomcl.org/orthomcl/images/OrthoMCL/footer-logo.png');
  }

  .VectorBase {
    content: url('https://vectorbase.org/vectorbase/images/VEuPathDB/icons-footer/vectorbase.png');
  }

  .VEuPathDB {
    content: url('https://veupathdb.org/veupathdb/images/VEuPathDB/icons-footer/VEuPathDB.png');
  }
}
