.ebrc-SearchPane {
  padding: 1rem;

  h4 {
    font-size: 1.5rem;
  }

  h6 {
    font-size: 1rem;
    margin: 1rem 0 0 0;
  }

  h4, h6 {
    text-align: center;
  }

  .wdk-CheckboxTreeLinks {
    font-size: 0.8em;
  }

  .wdk-RealTimeSearchBoxInput {
    font-size: 0.9em;

    padding: 0.2em 1.5em 0.2em 1.75em;

    &__withHelp {
      margin-left: 0.5rem;
      width: calc(100% - 1.5rem);
    }
  }

  .wdk-RealTimeSearchBoxSearchIcon {
    left: 0.5em;
  }

  .wdk-CheckboxTree {
    font-size: 1rem;
  }

  .wdk-CheckboxTree > .wdk-CheckboxTreeList > .wdk-CheckboxTreeItem > .wdk-CheckboxTreeNodeWrapper {
    text-transform: uppercase;

    background-color: #ced4da;
    margin-bottom: .25em;
    border: 0.0625rem solid #ddd;
    border-radius: 50rem;
    padding-left: 1.2em;
  }

  .wdk-CheckboxTreeNodeWrapper {
    font-size: 0.9em;

    align-items: flex-start;

    padding-top: 0.5em;
    padding-bottom: 0.5em;
    padding-right: 0.6em;

  }

  .wdk-CheckboxTreeItem {
    font-weight: 600;

    &__leaf {
      font-weight: normal;

      .wdk-CheckboxTreeNodeContent {
        margin: 0;

        a {
          display: flex;
        }

        i {
          margin-right: 0.25em;
        }
      }
    }
  }
}
