/*CSS styling for Announcements System Message Console*/



table{
       margin-left: auto;
       margin-right: auto;
       border-collapse: collapse;
       border-right: 6px;
       border-left: 6px;
       border-top: 3px;
       border-bottom: 40px;
       border-color: #dee2ed;
       border-style: solid;
       text-align: center;
       }


tr.header{
        background-color: #dee2ed;
        border: thin solid;
        }


tr.primary{
        background-color: #ffffff;
        }


tr.alternate{
        background-color: #ebe6e0;
        }

td{
       text-align: center;
       font-size: 10pt; 
       padding-right: 5px;
       padding-left: 5px;
       padding-top: 2px;
       padding-bottom: 2px;
       }


td.message{
      text-align: left;
      font-family: Verdana;
      font-size: 8pt;
      font-style: italic;
      }

/* Unvisited links */
a:visited {
      color: blue; /* sky blue */
      }


