@mixin shadowed {
  text-shadow: 3px 3px 0px fade-out(#02171b, 0.5);
}

.Header {
  color: #fff;
  min-width: 1000px;
  width: 100%;
  background-color: #333;
  border-bottom: 4px solid #DD314E;

  &.Header--Home {
    border-bottom-width: 10px;
  }

  * {
    box-sizing: border-box;
  }

  h1 {
    @include shadowed;
    font-weight: 100;
    color: white;
    text-align: center;
    font-size: 55px;
    margin: 0.5em 0;
    width: 100%;
    padding: 0;
  }

  h3 {
    @include shadowed;
    font-style: italic;
    font-weight: 200;
    padding: 0 0 2.4em;
    color: white;
    text-align: center;
    margin: 0;
    font-size: 23px;
  }
}

.wdk-Answer .MesaComponent .DataTable .DataTable-Sticky .DataTable-Header {
  top: 40px;
}

